@import "utilities/palette";
@import "utilities/animations";

// ----- Setup -----
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Avenir Next", sans-serif;
}

// ----- Header -----
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $primary-color-dark;
}

.header-tags {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: $primary-color-text;
}

.logo {
  padding: 10px 0 5px;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}

.search {
  margin-right: 20px;
  background: url(../assets/search.svg) no-repeat center ;
  background-size: contain;
  border: none;
  width: 16px;
  height: 16px;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.2);
  }
  &:focus {
    outline: none;
  }
}

.empty {
  margin-left: 20px;
  border: none;
  width: 16px;
  height: 16px;
  &:focus {
    outline: none;
  }
}

.search-input {
  display: none;
  width: 95%;
  padding: 10px 20px;
  margin: 0 auto 5px;
  background-color: transparent;
  border: 1px solid $primary-color-text;
  border-radius: 20px;
  color: $primary-color-text;
  font-size: 16px;
  font-weight: 300;
  &:focus {
    outline: none;
  }
}

.active {
  display: block;
}

// ----- Form -----
.input-form {
  display: flex;
  padding: 10px 0 0;
  background-color: $primary-color;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  input, textarea {
    display: block;
    width: 260px;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    font-weight: 300;
    &:focus {
      outline: none;
    }
  }
}

.input-wrapper {
  border: none;
}

#input-title {
  color: $primary-color-text;
  font-size: 36px;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $primary-color-text;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $primary-color-text;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $primary-color-text;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $primary-color-text;
  }
}

#input-body {
  color: $primary-color-light;
  font-size: 16px;
  resize: none;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $primary-color-light;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $primary-color-light;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $primary-color-light;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $primary-color-light;
  }
}

#submit {
  display: block;
  align-self: flex-end;
  position: relative;
  top: 30px;
  width: 60px;
  height: 60px;
  background: url(../assets/add.svg) no-repeat $accent-color center;
  background-size: 50%;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
  &:focus {
    outline: none;
  }
}

// ----- Main -----
main {
  height: 100%;
}
// ----- Card -----
#card-container {
  height: 100%;
  padding: 10px;
}

.card {
  display: flex;
  opacity: 0;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
  & button:hover {
    outline: none;
  }
  main {
    width: 90%;
    padding-left: 10px;
  }
}

.cardVisible {
  opacity: 1;
}

.new {
  animation: addCard 0.5s linear forwards;
}

.removed {
  animation: removeCard 0.5s linear forwards;
}

.card-text {
  width: 80%;
}

.card-title {
  margin: 10px 0 5px;;
  color: $primary-text-color;
}

.card-body {
  margin: 0 0 20px;
  color: $secondary-text-color;
}

.complete {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid $divider-color;
}

.completed {
  background-color: $accent-color;
}

.delete {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background: url(../assets/delete.svg) no-repeat center;
  background-size: 100%;
  border: none;
  border-radius: 50%;
  &:hover {
    background: url(../assets/hover-delete.svg) no-repeat center;
    background-size: contain;
  }
}

.rating {
  display: flex;
  align-items: center;
}

.quality {
  margin: 5px;
  font-size: 12px;
  span {
    font-size: 16px;
  }
}

.upvote,
.downvote {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  background: url(../assets/up.svg) no-repeat center;
  background-size: contain;
  border: none;
  border-radius: 50%;
  &:hover {
    background: url(../assets/hover-up.svg) no-repeat center;
    background-size: contain;
  }
}

.downvote {
  background: url(../assets/down.svg) no-repeat center;
  background-size: contain;
  &:hover {
    background: url(../assets/hover-down.svg) no-repeat center;
    background-size: contain;
  }
}
