@keyframes addCard {
  from {
    opacity: 0;
    transform: translateY(-140px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
@keyframes removeCard {
  from {
    opacity: 1;
    transform: translateY(0); }
  to {
    opacity: 0;
    transform: translateY(80px); } }
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Avenir Next", sans-serif; }

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #0097A7; }

.header-tags {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #FFFFFF; }

.logo {
  padding: 10px 0 5px;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center; }

.search {
  margin-right: 20px;
  background: url(../assets/search.svg) no-repeat center;
  background-size: contain;
  border: none;
  width: 16px;
  height: 16px;
  transition: transform 0.2s; }
  .search:hover {
    transform: scale(1.2); }
  .search:focus {
    outline: none; }

.empty {
  margin-left: 20px;
  border: none;
  width: 16px;
  height: 16px; }
  .empty:focus {
    outline: none; }

.search-input {
  display: none;
  width: 95%;
  padding: 10px 20px;
  margin: 0 auto 5px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300; }
  .search-input:focus {
    outline: none; }

.active {
  display: block; }

.input-form {
  display: flex;
  padding: 10px 0 0;
  background-color: #00BCD4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
  .input-form input, .input-form textarea {
    display: block;
    width: 260px;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    font-weight: 300; }
    .input-form input:focus, .input-form textarea:focus {
      outline: none; }

.input-wrapper {
  border: none; }

#input-title {
  color: #FFFFFF;
  font-size: 36px; }
  #input-title::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #FFFFFF; }
  #input-title::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFFFFF; }
  #input-title:-ms-input-placeholder {
    /* IE 10+ */
    color: #FFFFFF; }
  #input-title:-moz-placeholder {
    /* Firefox 18- */
    color: #FFFFFF; }

#input-body {
  color: #B2EBF2;
  font-size: 16px;
  resize: none; }
  #input-body::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #B2EBF2; }
  #input-body::-moz-placeholder {
    /* Firefox 19+ */
    color: #B2EBF2; }
  #input-body:-ms-input-placeholder {
    /* IE 10+ */
    color: #B2EBF2; }
  #input-body:-moz-placeholder {
    /* Firefox 18- */
    color: #B2EBF2; }

#submit {
  display: block;
  align-self: flex-end;
  position: relative;
  top: 30px;
  width: 60px;
  height: 60px;
  background: url(../assets/add.svg) no-repeat #FF5722 center;
  background-size: 50%;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
  transition: transform 0.2s; }
  #submit:hover {
    transform: scale(1.1); }
  #submit:focus {
    outline: none; }

main {
  height: 100%; }

#card-container {
  height: 100%;
  padding: 10px; }

.card {
  display: flex;
  opacity: 0;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23); }
  .card button:hover {
    outline: none; }
  .card main {
    width: 90%;
    padding-left: 10px; }

.cardVisible {
  opacity: 1; }

.new {
  animation: addCard 0.5s linear forwards; }

.removed {
  animation: removeCard 0.5s linear forwards; }

.card-text {
  width: 80%; }

.card-title {
  margin: 10px 0 5px;
  color: #212121; }

.card-body {
  margin: 0 0 20px;
  color: #757575; }

.complete {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #BDBDBD; }

.completed {
  background-color: #FF5722; }

.delete {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background: url(../assets/delete.svg) no-repeat center;
  background-size: 100%;
  border: none;
  border-radius: 50%; }
  .delete:hover {
    background: url(../assets/hover-delete.svg) no-repeat center;
    background-size: contain; }

.rating {
  display: flex;
  align-items: center; }

.quality {
  margin: 5px;
  font-size: 12px; }
  .quality span {
    font-size: 16px; }

.upvote,
.downvote {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  background: url(../assets/up.svg) no-repeat center;
  background-size: contain;
  border: none;
  border-radius: 50%; }
  .upvote:hover,
  .downvote:hover {
    background: url(../assets/hover-up.svg) no-repeat center;
    background-size: contain; }

.downvote {
  background: url(../assets/down.svg) no-repeat center;
  background-size: contain; }
  .downvote:hover {
    background: url(../assets/hover-down.svg) no-repeat center;
    background-size: contain; }

/*# sourceMappingURL=style.css.map */
